


body {
    height: 100%;
    background-color: aqua;
}

#mycanvasdiv {
    /* background-color: rgb(63, 165, 42); */
    margin: auto;
    text-align: center; 

}


#mycanvas {
    background: #d60a2c; 
}



#myrangediv {
    /* background-color: rgb(228, 122, 108); */
    margin: auto;
    text-align: center; 

}

#myrange {
    width: 80%;

}


input[type="range"]{
    -webkit-appearance: none;
    background: linear-gradient(75deg,#3c40c6,#575fcf);
    border-radius: 4px;
    width: 100%;
    height: 5%;
    outline: none;
    box-shadow: 0 0 6px rgb(28,32,48);
}

/* 滑动选择器的按钮 */
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    background: #f53b57;
    border-radius: 50%;
    transition: .3s;
}
 
/* 拖动滑动选择器的按钮的时候 */
input[type="range"]:active::-webkit-slider-thumb{
    background: #ef5777;
    box-shadow: 0 0 0 6px rgba(155, 73, 146, .4);
}


#topheader {
    text-align: center;
}